<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">Forgot Password</div>
    <div class="row">
        <div class="col-md-12">
    <form class="ui form" action="/forgot" method="POST">
        <div class="field">
         <label>Email</label>
         <input type=email" name="email" placeholder="Email" required>
        </div>
       
        
            
           
        <input class="ui red small inverted button" type="submit" value="Reset Password">
        
    </form>
</div>
<%- include("partials/footer") %>