<%- include("partials/header") %>


<!-- <div class="caption">
    <h1 id="grasp"><i class="gofore icon"></i>Grasp</h1>
    <h1><strong>Get smarter about what <br>matters to you.</strong></h1>
</div>
<div>
    <p>Already have an account?
        <a href="/login">Sign In!</a> 
    </p>
</div>
<div>
    <h1>We do things differently.</h1>
    <p>Grasp is not like any other platform on the internet. Our sole purpose is to help you find compelling ideas, knowledge, and perspectives. We don’t serve ads—we serve you, the curious reader who loves to learn new things. Medium is home to thousands of independent voices, and we combine humans and technology to find the best reading for you—and filter out the rest.
    </p>
</div>
<div>
    <p><strong>Expand your reading.<br>
        Expand your mind.</strong></p>
</div> -->

    <style>
        body{
            background:url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-size: cover;
        background-position: center;
        font-family: Lato;
        }
        html{
         height: 100%;
        }
        
    </style>
    <div class="container" id="body">
    <div class="row">
<div class="col-lg-12">
<div id="content">
    <h1 id="text">Create your Blog and share <br> your voice in minutes</h1>
    <hr id="hr">
    <h3 id="h3">Grasp makes it easy for you to start your own. <br>
        Sign Up for free to start sharing your ideas
    </h3>
    <div>
        <p id="p1">Already have an account?
            <a href="/login">Sign In</a>
        </p>
    </div>
</div>


</div>
    </div>
</div>



   



<%- include("partials/footer") %>