<%- include("partials/header.ejs") %>
<div class="container">
    <div class="row" id="commentform">
    <h1 style="text-align: center;">Add new comment to <%= blog.title %></h1>
    <div style="width: 30%; margin: 20px auto;">
    <form action="/blog/<%= blog._id %>/comments" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="text" name="comment[text]">
        </div>
    <div class="form-group"></div>
        <button class="btn btn-primary btn-lg btn-block" >SUBMIT</button>
</div>
    </form>
    <a href="/secret">Go back</a>
</div>
</div>
</div>


<%- include("partials/footer.ejs") %>