<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">Reset Password</div>
    <form class="ui form"  action="/reset/<%= token %>" method="POST">
        <div class="field">
            <label for="password">New Password</label>
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
        </div>
       
        <div class="field">
            <label for="confirm">Confirm Password</label>
		    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
            </div>
    
        <button type="submit" class="ui red big inverted button">Update Password</button>
      
    </form>
</div>

<%- include("partials/footer") %>